@model List<CategoryView>
@{
}

<div class="grid-container">
    <div class="container table-category">
        <h3>Categories</h3>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Icon @category.Title</td>
                        <td>
                            @if (category.Type == "Expense")
                            {
                                <button class="btn-expense">Expense</button>
                            }
                            else
                            {
                                <button class="btn-income">Income</button>
                            }
                        </td>
                        <td>
                            <a class="icon-list" asp-controller="Category" asp-action="Form" asp-route-id="@category.CategoryId.ToString()">
                                <i class="bi bi-pen-fill"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a class="icon-list" asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@category.CategoryId">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="container table-category d-flex align-items-center justify-content-center h-50">
        <div class="text-center">
            <p>Create new category!</p>
            <a class="btn btn-secondary" asp-controller="Category" asp-action="Form" asp-route-id="@Guid.Empty">Create</a>
        </div>      
    </div>
</div>













@*<h3>Categories</h3>
<div class="container table-category">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Category</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Icon @category.Title</td>
                    <td>
                        @if(category.Type == "Expense")
                        {
                            <button class="btn-expense">Expense</button>
                        }
                        else
                        {
                            <button class="btn-income">Income</button>
                        }        
                     </td>
                     <td>
                        <a class="icon-list" asp-controller="Category" asp-action="Form" asp-route-id="@category.CategoryId.ToString()">
                            <i class="bi bi-pen-fill"></i>
                        </a>
                        &nbsp;&nbsp;
                        <a class="icon-list" asp-controller="Category" asp-action="Form" asp-route-id="@category.CategoryId">
                            <i class="bi bi-trash3-fill"></i>
                        </a>                      
                     </td>
                </tr>              
            }
        </tbody>
    </table>
</div>*@



